[Unit]
Description=Weekly script to maintain systems
# Requires=qbit-tracker-add.service

[Timer]
OnCalendar=Weekly
RandomizedDelaySec=120
Persistent=true

[Install]
WantedBy=timers.target
