[Unit]
Description=Plank background service
ConditionPathExists=/usr/bin/plank
After=lightdm.service

[Service]
Restart=on-failure
RestartSec=5s
TasksMax=18402
ExecStart=/usr/bin/plank
#ExecStartPost=/usr/bin/plank -n 2

[Install]
WantedBy=default.target
