[Unit]
Description=Weekly script to maintain systems
# Wants=qbit-tracker-add.timer

[Service]
Type=oneshot
ExecStart=%h/scripts/bin/AddqBittorrentTrackers -ac
#ExecStartPost=/usr/bin/podman image prune -f
TimeoutSec=1800
[Install]
WantedBy=default.target